[Unit]
Description=Puma HTTP Server
After=network.target

[Service]
Type=simple
User=n0l
WorkingDirectory=/home/n0l/reddit
ExecStart=/bin/bash -lc 'puma'
Restart=always

[Install]
WantedBy=multi-user.target
